{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}List of teachers{% endblock %}

{% block content %}
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <a style="color:#ff0000">Search</a>
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <form method="get">
                    {{ filter | crispy}}
                    <input  class="btn btn-info" type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mt-2">
    <a class="btn btn-danger" href="{% url 'teachers:random'%}">Create random teachers(10)</a>
</div>
<br>
{% with list_object=object_list %}
    {% include 'includes/teachers_list_table.html' %}
{% endwith %}

{% endblock %}

