{% extends 'base.html' %}

{% block title %}List of teachers{% endblock %}

{% block content %}
<br>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th style="width=5%">N</th>
            <th style="width=30%">&#128100; First name</th>
            <th style="width=30%">&#128100; Last name</th>
            <th style="width=15%">&#128218; Subject</th>
            <th style="width=10%">&#9742;Phone number</th>
            <th style="width=5%">&#9997; Edit</th>
            <th style="width=5%">&#128686; Delete</th>
        </tr>
    </thead>
    {% for teacher in teachers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.univer_subject }}</td>
            <td>{% if teacher.phone_number %}{{ teacher.phone_number }}{% endif %}</td>
            <td><a class="btn btn-info" href="{% url 'teachers:update' teacher.pk %}">Submit</a></td>
            <td><a class="btn btn-danger" href="{% url 'teachers:delete' teacher.pk %}">Submit</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

