{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Create{% endblock %}

{% block content %}
    <form method="post">
        {%  csrf_token %}
        <div class="position-absolute top-50 start-50 translate-middle">
            {{form | crispy}}
            <div class="mt-2">
                <input class="btn btn-outline-success" type="submit" value="Create">
                <a class="btn btn-outline-dark" href="{% url 'courses:list' %}">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}